.inputdata {
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    padding: 0 10px 0 5px !important;
      font-size: 12px !important;
      line-height: 1.5 !important;
      border-radius: 3px !important;
  }

.inputdata2 {
  color: #555;
  border: 1px solid #ccc;
  padding: 0 10px 0 5px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
    width: 100px;
    height:26px;
}
.button {
  color: #fff;
  background-color: #0061a1;
  border: 1px solid #0061a1 !important;
  font-size: 14px !important;
  line-height: 1.3333333;
  border-radius: 6px;
  height: 40px;
}
i {
  font-size: 90%;
}

i.red {
color: firebrick;
font-size: 110%;
}

hr {
  border-top: solid 1px;
  margin-top: -15px;
  border: 1px solid lightgrey;
}
h1 {
  color: #008caa;
}

.font90 {
  font-size: 90%;
}

.height26 {
  height:26px;
}

.margintop3 {
  margin-top:3px;
}

.typeOfData {
  margin-left: 50px;
  color:rgb(127, 128, 129);
}

.selectData {
  width: 170px;
  height:26px;
}

.cosmic {
  margin-left:10px;
  width:80px;
  height:20px;
}

.marginright10 {
  margin-right: 10px;
}

.width370 {
  width: 370px;
}