div.informacionDelPaciente {
    margin: auto;
    background: rgba(161, 165, 167, 0.2);
    height: 270px;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid lightgrey;
    width: 800px;
  }

h3 {
  color: #008caa;
  text-align:center;
}

h4 {
    color: #008caa;
    font-size: 120%;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 20px;
  }

.inputdata {
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
padding: 0 10px 0 5px !important;
font-size: 12px !important;
line-height: 1.5 !important;
border-radius: 3px !important;
}

i {
  font-size: 90%;
}

i.red {
color: firebrick;
font-size: 110%;
}

.showChecks {
  margin:auto; border:
  1px solid #369;
  height: 510px;
  width: 1300px;
  background: rgba(161, 165, 167, 0.2);
}

.checks {
  font-size: 100%;
  padding-left: 95px;
  padding-top: 13px;
  height: 450px;
}

table {
  box-align: center;
  text-align:left;
  border-collapse: collapse;
  border: 1px solid #dddddd;
  border-radius: 10px !important;

}

td{
  border-top: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}

table {
counter-reset: rowNumber;

}
table tr {
  counter-increment: rowNumber;
}

table tr td:first-child::before{
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;

}

.moreInfo {
  text-align:left;
  width:1200px;
  margin: auto;
  margin-top:70px;
}

.declaration {
  margin-top:50px;
  margin-bottom:100px;
  width:1200px;
  margin-left:352px;
}

.declarationMargin {
  margin-left: 10px;
}

.button {
  color: #fff;
  background-color: #0061a1;
  border: 1px solid #0061a1 !important;
  font-size: 14px !important;
  line-height: 1.3333333;
  border-radius: 6px;
  height: 40px;
}
.buttonSet.down {
  padding: 7px 0 0 0 !important;
  bottom: 25px;
  height: 51px;
  top: auto;
  border-bottom: none;
  border-top: 1px solid #369;
  padding: 8px 20px 0 0;
  background: #f5f5f5;
}

.buttonSet {
  position: fixed;
  top: 84px;
  height: calc(37px + 2px);
  width: 100%;
  padding: 8px 20px 0 0;
  text-align: right;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, white), color-stop(80%, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(to right, white 30%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.1) 100%);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #333;
}
body {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #333;
}
#page-footer[_ngcontent-c2] {
  margin: 0px;
  height: 25px;
  padding-bottom: 0px;
  position: fixed;
  border: none;
  width: 100%;
  z-index: 99;
  min-width: 320px;
  bottom: 0px;
  background: #fff;
  -webkit-box-shadow: 0px -1px 8px rgba(51, 51, 51, 0.2);
  box-shadow: 0px -1px 8px rgba(51, 51, 51, 0.2);
  border-top: 1px solid rgba(51, 51, 51, 0.2);
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #333;
}

