<!--The content below is only a placeholder and can be replaced.-->
<div class="center">
  <h3>
    SOLICITUD DE ESTUDIO GENOMICO DE TUMORES ESPORÁTICOS Y ONCOHEMATOLOGÍA
  </h3>
  <br>
    <div class="p1">
      <div class="left">
      <h4>Información del paciente</h4>
      <label class="margin0">Nombre*
      <input type="text" ng-model="yourName" placeholder="Introduzca su nombre">
      <label class="margin1">Apellidos*</label> <input type="text" ng-model="yourSurname" placeholder="Introduzca su apellido">
      </label>
  <br>
  <br>
    <label class="margin0">Tipo documento*</label>  
    <label class="margin3">Núm. documento*</label>
    <label class="margin4">Género*</label>
    <label class="margin5">Fecha de Nacimiento*</label>                
  <br>
        <select class="menu">
            <option>ID de petición</option>              
            <option>N/A (Feto)</option>
            <option>Núm. historia clínica</option>
            <option>DNI</option>
            <option>NIE</option>
            <option>Pasaporte</option>
            </select> 
            <input class="text" ng-model="yourDoc" placeholder="Introduzca su Núm. de documentación">
            <select class="menu2">
                <option>Hombre</option>              
                <option>Mujer</option>
                <option>Desconocido</option>
                </select>
                <input class="date" type="date">
                <br>
                <br>
                <br>
                <label class="margin6">Grupo étnico*</label> 
                <br>
                <select class="menu3">
                    <option class="opcion">1 </option>              
                    <option>2</option>
                    <option>3</option>
                    </select>


                  </div>                                       
</div>
<br>
<br><br><br><br>
<div style="text-align:center">
    <label>
        Estudios solicitados
    </label><br>
      <select name="menu">
        <optgroup label="Tumores sólidos">
          <option>Mamma GeneProfile</option>              
          <option>Panel Cáncer 170</option>
          <option>Exoma tumoral 51 Mb (Investigación)</option>              
          <option>Exoma tumoral 71 Mb (Investigación)</option>
        </optgroup>
        <optgroup label="Oncohematología">
            <option>Panel LEUCEMIA MIELOIDE AGUDA</option>              
            <option>Panel MYELOID NEOPLASM</option>
          </optgroup>
          </select> 
      


<router-outlet></router-outlet>
